@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&display=swap");

body {
  font-size: 1.3rem;
  font-family: Inter, sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
}

.link__margin + .link__margin {
  margin-left: 1.5em;
}
